input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

li button {
    width: 30px;
    height: 30px;
}